.sendtwettcont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 218px;
  background-color: #150714;
}
.Post-Container {
  width: 35%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.Post-Container .Post-img {
  width: 25%;
  align-self: flex-start;
}
.Post-Container img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.Post-Container .form-tweet {
  width: 75%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
}

.Post-Container .form-tweet textarea {
  width: 100%;
  height: 113px;
  background-color: #2f112d;
  color: #914d8b;
  font-weight: 450;
  font-size: 20px;
  font-family: "Silkscreen", sans-serif;
  border: none;
  padding: 5px;
  border: 1px solid #914d8b;
}

.Post-Container .form-tweet input[type="submit"] {
  width: 102px;
  height: 35px;
  font-family: "Silkscreen", sans-serif;
  background-color: #2f112d;
  color: #150714;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #914d8b;
}

.Post-Container .form-tweet input[type="submit"]:hover {
  background-color: #914d8b;
  border: 1px solid #2f112d;
}
/* MEDIA QUERIES */
/* MOBILE S */
@media screen and (min-width: 319px) and (max-width: 374px) {
  .Post-Container {
    width: 90%;
  }
}
/* Mobile M */
@media screen and (min-width: 375px) and (max-width: 424px) {
  .Post-Container {
    width: 90%;
  }
}
/* Mobile L */
@media screen and (min-width: 425px) and (max-width: 767.98px) {
  .Post-Container {
    width: 90%;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .Post-Container {
    width: 90%;
  }
}
