.NavBarProfile {
  width: 100%;
}
.NavBarProfile nav {
  width: 80%;
  height: 52px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.NavBarProfile nav .nav-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.NavBarProfile nav .nav-content img {
  width: 28px;
  height: 20px;
}
.MyTweets .NavBarProfile nav .nav-content .name-profile,
.MyTweets .NavBarProfile .my-profile .author p.autor-name,
.MyFavs .NavBarProfile nav .nav-content .name-profile,
.MyFavs .NavBarProfile .my-profile .author p.autor-name {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.NavBarProfile .my-profile {
  background-color: #150714;
  padding: 10px;
}

.NavBarProfile .my-profile img {
  border-radius: 50%;
}
.NavBarProfile .btn-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavBarProfile .btn-profile a {
  text-decoration: none;
}
.NavBarProfile .btn-profile .posts {
  background-color: #60265b;
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  border: none;
  text-align: center;
  color: #150714;
  padding: 5px;
  cursor: pointer;
}
.NavBarProfile .btn-profile .favs {
  background-color: #150714;
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #60265b;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.btn-logout {
  text-decoration: none;
}

.btn-inside-logout {
  width: 116px;
  height: 35px;
  background-color: #f50d5a;
  border: none;
  font-family: "Silkscreen";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #250c23;
  cursor: pointer;
}

/* MEDIA QUERIES */
/* MOBILE S */
@media screen and (min-width: 319px) and (max-width: 374px) {
  .NavBarProfile nav {
    width: 90%;
    height: 52px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .NavBarProfile nav .nav-content {
    gap: 5px;
  }
  .MyTweets .NavBarProfile nav .nav-content .name-profile,
  .MyTweets .NavBarProfile .my-profile .author p.autor-name,
  .MyFavs .NavBarProfile nav .nav-content .name-profile,
  .MyFavs .NavBarProfile .my-profile .author p.autor-name {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }
  .MyTweets .NavBarProfile nav .nav-content .name-profile,
  .MyFavs .NavBarProfile nav .nav-content .name-profile {
    align-self: flex-start;
    text-align: left;
  }
  .NavBarProfile .btn-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .NavBarProfile .btn-profile .favs,
  .NavBarProfile .btn-profile .posts {
    font-size: 16px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .NavBarProfile .btn-profile a {
    width: 100%;
  }
}
/* Mobile M */
@media screen and (min-width: 375px) and (max-width: 424px) {
  .NavBarProfile nav {
    width: 90%;
    height: 52px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .NavBarProfile nav .nav-content {
    gap: 0px;
  }
  .MyTweets .NavBarProfile nav .nav-content .name-profile,
  .MyTweets .NavBarProfile .my-profile .author p.autor-name,
  .MyFavs .NavBarProfile nav .nav-content .name-profile,
  .MyFavs .NavBarProfile .my-profile .author p.autor-name {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }
  .MyTweets .NavBarProfile nav .nav-content .name-profile,
  .MyFavs .NavBarProfile nav .nav-content .name-profile {
    align-self: flex-start;
    text-align: left;
  }
  .NavBarProfile .btn-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .NavBarProfile .btn-profile .favs,
  .NavBarProfile .btn-profile .posts {
    font-size: 16px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .NavBarProfile .btn-profile a {
    width: 100%;
  }
}
/* Mobile L */
@media screen and (min-width: 425px) and (max-width: 767.98px) {
  .NavBarProfile nav {
    width: 90%;
    height: 52px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .NavBarProfile nav .nav-content {
    gap: 5px;
  }
  .MyTweets .NavBarProfile nav .nav-content .name-profile,
  .MyTweets .NavBarProfile .my-profile .author p.autor-name,
  .MyFavs .NavBarProfile nav .nav-content .name-profile,
  .MyFavs .NavBarProfile .my-profile .author p.autor-name {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
  }
  .MyTweets .NavBarProfile nav .nav-content .name-profile,
  .MyFavs .NavBarProfile nav .nav-content .name-profile {
    align-self: flex-start;
    text-align: left;
  }
  .NavBarProfile .btn-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .NavBarProfile .btn-profile .favs,
  .NavBarProfile .btn-profile .posts {
    font-size: 16px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .NavBarProfile .btn-profile a {
    width: 100%;
  }
}
