.NavBar {
  width: 100%;
  height: 52px;
  background-color: #250c23;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.NavBar-Container {
  width: 40%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  height: 52px;
}

.NavBar-Container .profile-foto,
.NavBar-Container .nav-logo,
.NavBar-Container .nav-title {
  width: 33.3%;
}

.NavBar-Container .profile-img {
  height: 33px;
  width: 33px;
  border-radius: 50%;
}

.NavBar-Container .logo-nav {
  width: 45px;
  height: 27px;
}
.NavBar-Container .logo-nav-title {
  width: 159px;
  height: 15px;
}
/* MEDIA QUERIES */
/* MOBILE S */
@media screen and (min-width: 319px) and (max-width: 374px) {
  .NavBar-Container {
    width: 90%;
    height: 52px;
  }
  .NavBar-Container .profile-foto,
  .NavBar-Container .nav-logo,
  .NavBar-Container .nav-title {
    width: auto;
  }
}
/* Mobile M */
@media screen and (min-width: 375px) and (max-width: 424px) {
  .NavBar-Container {
    width: 90%;
    height: 52px;
  }
  .NavBar-Container .profile-foto,
  .NavBar-Container .nav-logo,
  .NavBar-Container .nav-title {
    width: auto;
  }
}
/* Mobile L */
@media screen and (min-width: 425px) and (max-width: 767.98px) {
  .NavBar-Container {
    width: 90%;
    height: 52px;
  }
  .NavBar-Container .profile-foto,
  .NavBar-Container .nav-logo,
  .NavBar-Container .nav-title {
    width: auto;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .NavBar-Container {
    width: 90%;
    height: 52px;
  }
  .NavBar-Container .profile-foto,
  .NavBar-Container .nav-logo,
  .NavBar-Container .nav-title {
    width: auto;
  }
}
/*TABLET GRANDE */
@media screen and (min-width: 1024px) and (max-width: 1299.98px) {
  .NavBar-Container {
    width: 90%;
    height: 52px;
  }
  .NavBar-Container .profile-foto,
  .NavBar-Container .nav-logo,
  .NavBar-Container .nav-title {
    width: auto;
  }
}
