.MyProfile {
  width: 100%;
}
.MyProfile .NavBarProfile nav {
  width: 80%;
  height: 52px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.MyProfile .NavBarProfile nav .nav-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.MyProfile .NavBarProfile nav .nav-content img {
  width: 28px;
  height: 20px;
}
.MyProfile .NavBarProfile nav .nav-content .name-profile,
.MyProfile .NavBarProfile .my-profile .author p.autor-name {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.MyProfile .NavBarProfile .my-profile {
  background-color: #150714;
  padding: 10px;
}

.MyProfile .NavBarProfile .my-profile img {
  border-radius: 50%;
}
.MyProfile .NavBarProfile .btn-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MyProfile .NavBarProfile .btn-profile a {
  text-decoration: none;
}
.MyProfile .NavBarProfile .btn-profile .posts {
  background-color: #60265b;
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  border: none;
  text-align: center;
  color: #150714;
  padding: 5px;
  cursor: pointer;
}
.MyProfile .NavBarProfile .btn-profile .favs {
  background-color: #150714;
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #60265b;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.MyProfile .btn-logout {
  text-decoration: none;
}

.MyProfile .btn-inside-logout {
  width: 116px;
  height: 35px;
  background-color: #f50d5a;
  border: none;
  font-family: "Silkscreen";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #250c23;
}
